.nav {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    margin: 0;
}

.item {
    list-style: none;
    padding: 0 1rem;
}

.nav-logo {
    width: 40px;
}