body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  margin: 0;
}

.item {
  list-style: none;
  padding: 0 1rem;
}

.nav-logo {
  width: 50px;
}

.color-blue {
  color: #61DAFB;
}

.d-flex {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}
.bg-black {
  background-color: rgba(46, 46, 46, 0.932);
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.sub-title {
  color: #DEEBF8;
}
.bg-main {
  background-color: rgb(87, 87, 87);
}
.footer {
  position: absolute;
  bottom: 0;
  margin: 1rem;
}
.container {
  height: 100vh;
}