body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  margin: 0;
}

.item {
  list-style: none;
  padding: 0 1rem;
}

.nav--icon {
  width: 50px;
}

.nav--logo_text {
  color: #61DAFB;
}

.d-flex {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}
.bg-black {
  background-color: rgba(46, 46, 46, 0.932);
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.nav--title {
  color: #DEEBF8;
}
.bg-main {
  background-color: rgb(87, 87, 87);
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}
.footer {
  position: absolute;
  bottom: 0;
  margin: 1rem;
}
.container {
  padding: 57px 27px;
  height: 100vh;
}

.container--title {
  font-size: 39px;
  color: white;
  letter-spacing: -0.05rem;
}

.container--list {
  margin-top: 46px;
  color: white;
  max-width: 400px;
}

.container--list_item {
  line-height: 19px;
  padding-block: 10px;
}

.container--list_item::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}
